
@font-face {
  font-family: 'FuturaBT-Bold';
  src: url('FuturaBT-Bold.eot?#iefix') format('embedded-opentype'),  url('FuturaBT-Bold.woff') format('woff'), url('FuturaBT-Bold.ttf')  format('truetype'), url('FuturaBT-Bold.svg#FuturaBT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
